@media (max-width: 480px) {

    .media {
        display: block;
    }

    .header-container,
    .navigation,
    .menu,
    .speech,
    .media-menu {
        display: none;
    }

    /* Header */

    .header {
        height: 80px;
        max-width: 100%;
        padding: 0 27px 0 0;
        justify-content: right;
    }

    .header img[alt='Logo'] {
        width: 51px;
        height: 50px;
        top: 15px;
        left: 23px;
    }

    .header img[alt='menu'] {
        width: 31px;
    }

    .header button {
        border: none;
        background: none;
        padding: 0;
    }

    /* Presentation */

    .presentation {
        display: flex;
        padding-left: 22px;
        padding-right: 42px;
        max-width: 100%;
        position: relative;
        justify-content: flex-start;
    }

    .presentation h1.h0 {
        font-style: normal;
        font-weight: 600;
        font-size: 26px;
        line-height: 36px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #ffffff;
    }

    .presentation pre.media {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        text-transform: uppercase;
        white-space: inherit;
        color: #ffffff;
    }

    .text button {
        margin-top: 23px;
        width: 200px;
        height: 50px;
        background: rgba(255, 255, 255, 0.24);
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
    }

    /* Booking */

    .booking {
        max-width: 100%;
    }

    .filter {
        padding-top: 52px;
    }

    .filter-menu {
        width: auto;
        flex: 1 0 auto;
        margin: 0;
    }

    .filter-menu h4 {
        display: none;
    }


    .active-booking h4 {
        display: block;
    }

    #filter-menu-1 {
        box-shadow: 2px 0px 3px rgba(0, 0, 0, 0.05);
        justify-content: left;
        padding-left: 25px;
        padding-right: 0;
    }

    #filter-menu-2 {
        box-shadow: 2px 0px 3px rgba(0, 0, 0, 0.05);
        background: linear-gradient(0deg, #F5F5F5, #F5F5F5), linear-gradient(267.54deg, #3BA8DC 0%, rgba(150, 219, 252, 0) 245.24%);
    }

    #filter-menu-3 {
        box-shadow: -2px 0px 3px rgba(0, 0, 0, 0.05);
    }

    #filter-menu-3.active-booking+#filter-menu-2 {
        justify-content: left;
    }

    .filter-menu .filters-text {
        margin: 0;
    }

    .filter-menu img {
        float: left;
    }

    .filter-content {
        padding-left: 20px;
        padding-right: 40px;
        padding-bottom: 60px;
        padding-top: 30px;
    }

    .filter-content .content {
        margin: 0;
    }

    .content-info h1 {
        padding-bottom: 8px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .filter-content select {
        border: 1px solid #F1F1F1;
        border-radius: 6px;
        height: 46px;
    }

    .filter-content .grid-3 {
        grid-template-columns: 1fr;
        row-gap: 0;
    }

    .content {
        width: 100%;
    }

    .content .mg-t,
    .content .mg-b {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .content-info {
        margin-top: 0;
        margin-bottom: 0;
        padding-bottom: 20px;
    }

    .content-last {
        padding-bottom: 40px;
    }

    .filter-content .buttons {
        flex-direction: column;
    }

    .buttons .btn-1 {
        margin-right: 0px;
        margin-bottom: 30px;
    }

    /* Results */

    .results {
        padding-top: 30px;
        padding-left: 20px;
        padding-bottom: 30px;
        margin-bottom: 0;
    }

    .mgt-60 {
        padding: 0;
    }

    .results-container {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .results-text-flex {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 0;
    }

    .show-all {
        padding: 0;
        width: 100%;
    }

    .show-all h3 {
        margin: 0;
        color: #4C5159;
    }

    .show-all a {
        padding-top: 20px;
        padding-bottom: 30px;
    }

    .results-text h1 {
        margin: 0;
        color: #3B3B3B;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: 0.02em;
    }

    .result-info-grid {
        overflow: scroll;
    }

    .result-info .image img {
        width: 300px;
    }

    .result-info {
        max-width: 325px;
    }

    .result-info:hover {
        box-shadow: none;
    }

    .result-info .h2-table {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 32px;
        color: #3B3B3B;
    }

    .result-info .h2-results {
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        color: #4C5159;
    }

    .result-info .h4-card {
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: #3B3B3B;
    }

    .unik {
        position: relative;
        color: #CF1B2B;
    }

    .unik::before {
        content: '';
        position: absolute;
        top: 12px;
        left: 0;
        right: 0;
        height: 2px;
        background-color: #CF1B2B;
    }

    table td.center {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #3B3B3B;
        padding-left: 0;
        padding-right: 0;
        width: 25%;
    }

    .result-info .center img {
        float: left;
    }

    .buttons-media {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 60px;
    }

    .last-component-buttons {
        padding-bottom: 0;
    }

    .buttons-media button {
        width: 40px;
        height: 40px;
        background: #FFFFFF;
        box-shadow: 0px 4px 15px rgba(0, 105, 164, 0.23);
        border: none;
        border-radius: 50px;
        padding: 0;
    }

    .buttons-media button.left-radio {
        margin-right: 40px;
    }

    .buttons-media button.right-radio {
        margin-left: 15px;
    }

    .buttons-media .radio {
        width: 12px;
        height: 12px;
        margin-right: 25px;
        border: 1px solid #4BADDB;
        border-radius: 50px;
    }

    .active-radio {
        background-color: #4BADDB;
    }

    .results-buttons-filter {
        flex-direction: column;
    }

    .second-refresh {
        margin-top: 10px;
        margin-bottom: 10px;
        width: max-content;
    }

    .third-refresh {
        width: max-content;
    }

    /* Advantege */

    .advantege {
        width: 100%;
    }

    .advantege .advantege-strategy-media {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 50px 60px;
        background: url(../images/advantege.png) repeat;
        color: #ffffff;
        box-sizing: content-box;
    }

    .advantege-strategy-media .advantege-strategy-image-media {
        padding-bottom: 105px;
        position: relative;
    }

    .advantege-strategy-media .last-component {
        padding-bottom: 0px;
    }

    .advantege-strategy-media .advantege-strategy-image-media::after {
        content: '.....';
        font-size: 30px;
        letter-spacing: 10px;
        color: #4BADDB;
        position: absolute;
        transform: rotate(90deg);
        bottom: 40px;
        left: 20px;
        right: 0;
    }

    .advantege-strategy-media .last-component::before {
        content: '.....';
        font-size: 30px;
        letter-spacing: 10px;
        color: #4BADDB;
        position: absolute;
        transform: rotate(90deg);
        top: -70px;
        right: 0;
        left: 20px;
    }

    .advantege-strategy-media .fourth-item::after,
    .advantege-strategy-media .last-component::after {
        content: none;
    }

    .advantege-content {
        padding: 50px 20px;
    }

    .advantege h1.h1-filter {
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 27px;
        letter-spacing: 0.02em;
        color: #4C5159;
        margin: 0;
        padding-bottom: 5px;
    }

    .advantege-content p.p-adv {
        font-style: italic;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0.02em;
        margin: 0;
    }

    .advantege-content p.h3 {
        margin: 0;
        padding-top: 25px;
        font-weight: 600;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.01em;
        color: #3B3B3B;
    }

    .advantege-content .rooms {
        padding-top: 25px;
        padding-bottom: 25px;
        margin: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .advantege-content .rooms img {
        width: 100%;
    }

    .advantege-content .rooms img[alt='room-1'] {
        margin-bottom: 15px;
    }

    .advantege-content .advantege-indicators {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .advantege-stats .stats {
        padding-top: 40px;
    }

    .advantege-indicators .first-stat {
        padding-top: 0;
    }

    .advantege-indicators h1.h1-stats {
        margin: 0;
    }

    /* Subscribe */

    .subscribe {
        display: flex;
        flex-direction: column;
        padding: 30px 20px;
    }

    .subscribe .sub-text {
        padding-right: 0px;
    }

    .subscribe .sub-text h1 {
        font-weight: 600;
        font-size: 24px;
        line-height: 33px;
        margin: 0;
    }

    .subscribe .sub-text p {
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        margin: 0;
        padding-top: 10px;
    }

    .subscribe .form {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 30px 0 0 0;
    }

    .form h3.p1-stats {
        margin: 0;
        padding-bottom: 15px;
    }

    .form .filling {
        flex-direction: column;
    }

    .form .filling input {
        width: 354px;
        padding-right: 0px;
        margin-bottom: 10px;
        margin-right: 0;
        padding-left: 0;
    }

    .form .filling button {
        width: 100%;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        background: #4C5159;
        margin-bottom: 15px;
    }

    .form p,
    form a {
        line-height: 30px;
        margin: 0;
    }

    /* Building Company Info */

    .company-info {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    .mobile-flex {
        padding-bottom: 30px;
    }

    .media-img {
        position: relative;
        height: 300px;
    }

    .media-img img {
        position: absolute;
        border-radius: 12px;
        width: 305px;
        transform: none;
    }

    .media-img .left-bottom {
        bottom: 0px;
        left: 20px;
    }

    .media-img .middle {
        top: 50px;
        left: 55px;
    }

    .media-img .right-top {
        top: 15px;
        right: 15px;
    }

    .company-info-text {
        padding-top: 60px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .company-info-text h1,
    .company-info-text p {
        margin: 0;
    }

    .company-info-text h1 {
        font-weight: 600;
        font-size: 24px;
        line-height: 33px;
        letter-spacing: 0.02em;
        padding-bottom: 25px;
    }

    .company-info-text p {
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        padding-bottom: 25px;
    }

    .company-info-text .btn-info {
        display: flex;
        flex-direction: column;
        margin: 0;
        height: 100%;
        align-items: flex-start;
    }

    .company-info-text .btn-info .white {
        margin-bottom: 25px;
    }

    .grey {
        width: 100%;
        margin: 0;
        clip-path: polygon(0 0, 94% 0, 100% 100%, 0 100%);
    }

    .company-info-text .btn-info .grey button {
        margin: 0;
    }

    .grey::after {
        display: none;
    }

    .company-info-text-table {
        width: 100%;
        padding-top: 30px;
        padding-right: 0;
        padding-bottom: 32px;
        padding-left: 0px;
        margin: 0;
        display: flex;
        flex-direction: column;
        box-shadow: 5px 15px 20px rgb(172, 172, 172, 1);
    }

    .company-info-text-table .flex {
        padding-left: 30px;
        padding-bottom: 12px;
        margin: 0;
    }

    .company-info-text-table .left .last {
        border: none;
        padding-bottom: 12;
        margin: 0;
    }

    .company-info-text-table .right .last {
        padding-bottom: 31px;
    }

    .resident-card {
        padding-left: 20px;
        padding-right: 20px;
        flex-direction: column;
    }

    .resident-card img {
        width: 100%;
    }

    .resident-card h1,
    .resident-card p {
        margin: 0;
    }

    .resident-card h1 {
        font-size: 24px;
        line-height: 33px;
        letter-spacing: 0.02em;
        padding-top: 40px;
        padding-bottom: 20px;
    }

    .resident-card p {
        font-size: 16px;
        line-height: 28px;
        padding-bottom: 20px;
    }

    /* Questions */

    .questions {
        padding-top: 40px;
        padding-bottom: 50px;
    }

    .question,
    .q-a {
        padding-left: 20px;
        padding-right: 20px;
    }

    .questions h1 {
        margin: 0;
        font-size: 24px;
        line-height: 33px;
    }

    .questions details {
        margin-top: 12px;
    }

    .questions details summary {
        margin: 0;
        position: relative;
        font-size: 16px;
        line-height: 22px;
        padding: 10px 20px 10px 20px;
        max-width: 334px;
    }

    .questions summary::after {
        top: 10px;
        right: 27px;
    }

    /* Contacts */

    .contacts {
        flex-direction: column;
        padding-top: 30px;
    }

    .phrases {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .phrases-low {
        padding-top: 30px;
        padding-right: 20px;
        padding-bottom: 30px;
        padding-left: 20px;
    }

    .phrases h1,
    .phrases p,
    .phrases h2 {
        margin: 0;
    }

    .phrases h1 {
        font-weight: 600;
        font-size: 24px;
        line-height: 33px;
    }

    .phrases p.h5-buttons {
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        padding-top: 20px;
        padding-bottom: 30px;
    }

    .phrases h2.h2 {
        font-weight: 600;
        font-size: 20px;
        line-height: 27px;
        padding-top: 30px;
        padding-bottom: 10px;
    }

    .phrases h2.massanger {
        padding-bottom: 20px;
    }

    .phrases .flex p.h5-number {
        font-weight: 600;
        font-size: 24px;
        line-height: 26px;
    }

    .phrases .flex {
        padding-top: 10px;
        padding-bottom: 30px;
    }

    .phrases .gr-4-1 {
        grid-template-columns: 1fr 1fr;
    }

    .form-2 {
        width: 100%;
    }

    .form-2 form {
        width: 100%;
        padding: 30px 20px;
    }

    /* Footer */

    footer.footer {
        width: 100%;
    }

    .top-footer {
        flex-direction: column;
        padding: 50px 83px;
        justify-content: center;
        align-items: flex-start;
    }

    .top-footer h3 {
        padding-bottom: 20px;
        margin: 0;
    }

    h3.media-pt-18 {
        padding-top: 18px;
    }

    h3.media-pt-38 {
        padding-top: 38px;
        padding-bottom: 30px;
    }

    .top-footer ul {
        margin: 0;
    }

    .top-footer li {
        padding-bottom: 12px;
    }

    .top-footer .footer-list ul li {
        font-size: 16px;
    }

    .top-footer .social {
        max-width: 100%;
        text-align: center;
    }

    .top-footer .social a {
        padding-right: 20px;
    }

    .footer-contacts-icons {
        padding-bottom: 33px;
    }

    .top-footer .social a img {
        margin: 0;
        max-width: 28px;
    }

    .top-footer .social .last-child {
        padding-right: 0;
    }

    .top-footer .btn-follow button {
        margin: 0;
        width: 100%;
    }

    footer.footer .bottom-footer {
        padding: 30px 60px;
    }

    .bottom-footer-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 120px;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 8px;
        line-height: 11px;
        color: #3B3B3B;
    }

    /* Media Menu*/

    .media-menu {
        min-width: 100vw;
        min-height: 100vh;
        background-color: #ffffff;
        z-index: 5;
        overflow: scroll;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .media-menu img {
        border-radius: 0;
    }

    /* Media Header */

    .media-menu section.header {
        padding-top: 15px;
        padding-right: 30px;
        padding-bottom: 15px;
        padding-left: 25px;
        justify-content: space-between;
        align-items: center;
        background-color: var(--background-color-white);
        box-shadow: none;
    }

    .media-menu section.header img[alt='logo-media'] {
        width: 50px;
        height: 50px;
    }

    /* Media Main */

    .filter-meida .flex {
        justify-content: center;
        align-items: center;
        height: 75px;
        flex-direction: column;
        background-color: #ffffff;
    }

    .filter-meida h1 {
        color: #3B3B3B;
        text-transform: uppercase;
        margin: 0px;
        font-weight: 600;
        font-size: 10px;
        line-height: 14px;
        padding-top: 10px;
    }

    .media-enter {
        padding: 16px 23px;
    }

    .media-enter button {
        text-transform: uppercase;
        color: #3B3B3B;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        align-items: center;
    }

    .media-enter img {
        margin-right: 10px;
    }

    ul.media-map {
        padding: 0;
        margin: 0;
    }

    ul.media-map li {
        text-transform: uppercase;
        margin: 0;
        color: #3B3B3B;
        padding: 0;
        background-color: #FCFCFC;
    }

    ul.media-map li p {
        margin: 0;
        padding: 20px 23px;
    }

    ul.media-map li:hover {
        background-color: #4BADDB;
        color: #ffffff;
    }

    .list-menu ul li ul {
        margin: 0;
        padding: 0;
        display: none;
        background-color: #ffffff;
    }

    .list-menu ul li ul li {
        padding-left: 0;
    }

    ul.media-map li:hover ul {
        display: block;
    }

    /* Media Footer*/

    .footer-menu-top {
        padding-top: 30px;
        padding-right: 20px;
        padding-left: 20px;
    }

    .footer-menu-top .number img {
        float: left;
        margin-right: 12px;
        width: 28px;
    }

    .footer-menu-top button {
        justify-content: center;
        align-items: center;
        font-weight: 600;
        font-size: 24px;
        line-height: 26px;
        color: #3B3B3B;
    }

    .footer-menu-top button.btn-header-right {
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        text-transform: uppercase;
        color: #FFFFFF;
        background: linear-gradient(267.54deg, #3BA8DC 0%, rgba(150, 219, 252, 0) 245.24%), #FFFFFF;
        border-radius: 56px;
        margin-top: 30px;
        width: 100%;
        height: 56px;
    }

    .footer-settings {
        justify-content: space-between;
        padding-top: 20px;
        padding-right: 20px;
        padding-left: 20px;
        padding-bottom: 10px;
    }

    .footer-menu .footer-settings button {
        border-radius: 50px;
        background-color: #4BADDB;
        border: 1.5px solid #ffffff;
        width: 52px;
        height: 52px;
    }

    .footer-bottom {
        height: 30px;
        background: #F5F5F5;
        font-weight: 400;
        font-size: 10px;
        line-height: 13px;
        color: #3B3B3B;
        justify-content: center;
        align-items: center;
    }

}